# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
# Compiled Python files
*.pyc
*.pyo

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
venv/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
