# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
# Compiled Python files
*.pyc
*.pyo

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
venv/
